b{ border-left: 8px green solid;
    padding-left: 12px;}

ul{
    background-color: lightgray;
    border: gray 2px solid;
    border-radius: 10px;
    width: 350px;
    padding: 30px 40px 50px;
}

#htmlcss{
    border: gray 2px solid;
    border-radius: 16px;
    padding: 40px 20px;
    width: 300px;
    margin-left: 40px;
}

#go{
    text-align: right;
    font-weight: bold;
    padding: 10px 0px;
}
